<mat-toolbar>
  <a href="/" class="title-toolbar" >Gestion-App</a>
  <nav>
    <ul class="ul-nav">
      <li class="li-nav" routerLinkActive="activo" [routerLinkActiveOptions]="{exact: true}">
        <button mat-button routerLink="/">Home</button>
      </li>
      <li class="li-nav" routerLinkActive="activo">
        <button mat-button routerLink="/app-lista-estudiantes">Estudiantes</button>
      </li>
      <li class="li-nav" routerLinkActive="activo">
        <button routerLink="/app-lista-personas" mat-button>Personas</button>
      </li>
    </ul>
  </nav>
</mat-toolbar>

<router-outlet></router-outlet>