<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title *ngIf="estudiante.id">Estudiante {{estudiante.id}}</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image
    src="https://static.vecteezy.com/system/resources/previews/002/173/392/non_2x/student-studying-at-home-free-vector.jpg"
    alt="Photo of student">
  <mat-card-content>
    <p>Branch: {{estudiante.branch}}</p>
    <p>Comments: {{estudiante.coments}}</p>
    <p>Nº Horas/Week: {{estudiante.num_hours_week}}</p>
    <p>Id Persona: {{estudiante.id_persona}}</p>
  </mat-card-content>
  <mat-card-actions>

    <!--<button mat-raised-button color="primary" (click)=editar(estudiante.id)>EDITAR</button>-->
    <button mat-raised-button color="primary" (click)=editarOn(estudiante)>EDITAR</button>
    <button mat-raised-button color="warn" (click)=borrar(estudiante.id)>ELIMINAR</button>
  </mat-card-actions>
</mat-card>