@import "settings";

/* ==== TOOLBAR ==== */
mat-toolbar {
    background-color: var(--color-backgorund-toolbar);
    color: var(--color-leter-toolbar);
    display: flex;
}

/* ==== SIDENAV ==== */
mat-sidenav-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    border-radius: 10px;
    margin: 16px;
    margin-left: 32px;
}
