<ng-container *ngIf="persona?.id else nopersona">
    <h1 class="centrar">Editando Persona con ID: {{persona.id}}</h1>
    <div *ngIf="showPersona">
        <mat-sidenav-container>
            <mat-sidenav>
            </mat-sidenav>
            <mat-sidenav-content>
                <div class="content mat-elevation-z8">
                    <app-formulario-persona [persona]="persona"></app-formulario-persona>
                </div>
            </mat-sidenav-content>
        </mat-sidenav-container>
    </div>
</ng-container>

<ng-template #nopersona>
    <h2>No se encuentra esta persona.</h2>
</ng-template>